*{
  margin:0;
  padding:0;
}

body{
	background-color: #ebf5f5;
}

/*left part of the page */
#leftPortal{
	background: white;
	height: 100vh;
	box-shadow: 2px 3px 5px #ebf5f5;
}

#leftPortal h5{
	padding-top:30px;
	margin-left:20px;
	font-weight: bold;
}

.fa-angle-left{
	float:right;
	padding-top:3px;
}

.angleLeft{
	float:left;
	margin-left:5px;
	transform: rotate(180deg);

}

.fa-first-order{
	float:left;
	flex:box;
	margin:30px 0 0 20px;
}

.fa-angle-down{
	cursor:pointer;
}

.fa-balance-scale{
	margin-left: 15px;
}

.balanceScale{
	margin-top:20px;
}

#leftDash{
	float:right;
	margin-left:10px;
	font-weight: bold;
}





#dropLegal{
	float: right;
	margin-left:10px;
	font-weight: bold;
}

ul{
	list-style:none;
	margin-left:50px;
	font-weight: bold;
}

 li a{
	color:grey;
	text-decoration: none !important;
	
}


#left_arrow{
	cursor:pointer;
}

.togLeftDiv{
	width:60px !important;
}
